.g-menu {
  padding: 0 20px;
  transform-origin: top;
  .g-search {
    padding: 0;
    margin-top: 0;
    display: flex;
    align-items: center;

    label, input {
      width: 100%;
    }
    label {
    }
    input {
      padding: 10px 0 10px 30px;
      font-size: 16px;
      box-shadow: 0 0 0 transparent;
      border: 2px solid #ccc;
      transition: border .3s ease;
      &:focus {
        border: 2px solid #49bda3;
        transition: border .3s ease;
      }
    }
    button {
      z-index: 1;
      left: 10px;
      right: auto;
      padding: 0;
      background-size: contain;
    }
  }
  &__head {
    padding: 20px 0;
    h1 {
      font-size: 24px;
    }
  }

  .g-content-loader {
    &__row-img, .g-menu-body__photo {
      width: 100%;
      border-radius: 10px;
    }
    &__row {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      &-img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        flex-shrink: 0;
      }
      &-item {
        margin: 0;
        height: 20px;
        &:nth-of-type(1) {
          width: 70%;
        }
        &:nth-of-type(2) {
          margin-top: 10px;
          width: 50%;
        }
        &_short {
          width: 30px;
          height: 30px;
          border-radius: 100%;
          margin-right: 10px !important;
        }
      }
    }
  }

  &-body {
    margin-top: 20px;
    margin-bottom: 100px;
    &__wrapper {
      margin-bottom: 40px;
    }
    &__photo {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      object-fit: contain;
      object-position: center;
    }
    &__content {
      width: 60%;
      flex-shrink: 0;
      p {
        margin: 0 0 0 15px;
        &:nth-of-type(2) {
          width: 80%;
          margin-top: 5px;
          color: #999;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    &__price {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
    }
    &__item {
      display: flex;
      align-items: center;
      &:not(:last-of-type) {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #bdc4cb;
      }
      img {
        flex-shrink: 0;
      }
      &s {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  &-settings {
    width: 50px;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    z-index: 555;
    transform: translateY(-80px) translateX(-20px);
    background: #312F31;
    border-radius: 100%;
    box-shadow: 0 5px 20px rgba(#312F31, .3);
    & > span {
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      background: url('../imgs/filter.svg') no-repeat center / contain;
    }
    &__icon {
      top: -16.9px;
      right: 20px;
      position: absolute;
      padding: 7px 20px;
      background: #49bda3;
      border-radius: 20px;
      color: #fff;
    }
    h2 {
      color: #fff;
      margin-bottom: 20px;
    }
    &__content {
      width: 100%;
      padding: 15px 20px;
    }
    &__body {
      max-height: 270px;
      overflow-y: scroll;
    }
    &__item {
      color: #fff;
      padding: 10px;
      margin-bottom: 10px;
      transition: background .3s ease;
      &_active {
        background: #49bda3;
        transition: background .3s ease;
      }
    }
  }
}